@model DotNetAppSqlDb.Models.KidsTodo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KidsTodo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpBy550)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpBy550)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GodSpokeToMyHeart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GodSpokeToMyHeart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JohnWentRun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JohnWentRun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JamesWentRun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JamesWentRun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhilipWentRun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhilipWentRun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhilipDidWeights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhilipDidWeights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhilipDid100WordsInMorning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhilipDid100WordsInMorning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhilipDid1000Words)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhilipDid1000Words)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwinsFightSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwinsFightSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.James100WordsStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.James100WordsStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.John100WordsStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.John100WordsStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.James5SkillsIXL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.James5SkillsIXL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hannah10SkillsIXL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hannah10SkillsIXL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HannahPiano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HannahPiano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JamesRecord1PiecePiano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JamesRecord1PiecePiano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JohnRecord1PiecePiano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JohnRecord1PiecePiano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JamesRecordPianoScale130)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JamesRecordPianoScale130)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JohnRecordPianoScale130)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JohnRecordPianoScale130)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
